<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">


			<ul class="nav navbar-nav navbar-right">
 				<!--			
				<li><a href="https://psych.ucsf.edu/">Department of Psychiatry</a></li>
				<li><a href="https://www.ucsf.edu/">UCSF</a></li>
				-->
				<li><a href="{{ site.url }}{{ site.baseurl }}/about" style="color:#292421">弘泰药业</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/recruitment" style="color:#292421">人才招聘</a></li>
			</ul>

		
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
